@model List<Artist>
@{
    string meu = TempData["meu"]?.ToString();
}

@{
    ViewData["Title"] = "Home Page";
    @if (meu == "False")
        Layout = "~/Views/Shared/_Layout.cshtml";
    else
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1 class="ms-5" style="text-align: center;">Lista de Artistas</h1>


<div class="row ">
    @foreach (var artist in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 d-flex justify-content-center">
            @using (Html.BeginForm("SearchArtist", "Home", FormMethod.Get))
            {
                <button type="submit" name="value" value="Pesquisar" class="p-0" style="border:none;">
                    <div class="card" style="max-width:200px; border:none">
                        @if (artist.images.Count > 0)
                        {
                            <img src="@artist.images[0].URL" alt="@artist.name" class="card-img-top img-fluid fixed-size-image">
                        }
                        <div class="card-body">
                            <p class="card-text">@artist.name</p>
                        </div>
                    </div>
                </button>

                <input type="hidden" name="id" value="@artist.name" />
                <input type="hidden" name="searchType" value="Album" />
                <input type="hidden" name="value" value="@artist.name" />
                <input type="hidden" id="srch" type="text" name="id" placeholder="Search" />
            }
        </div>
    }
</div>




<script>document.addEventListener('DOMContentLoaded', function () {
        var inputElement = document.getElementById('srch');

        var searchButton = document.querySelector('button[value="Pesquisar"]');
        inputElement.addEventListener('input', function () {
            searchButton.value = inputElement.value;
        });
    });</script>