@model List<Album>
@{
    string meu = TempData["meu"]?.ToString();
}

@{
    ViewData["Title"] = "Home Page";
    @if (meu == "False")
        Layout = "~/Views/Shared/_Layout.cshtml";
    else
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link rel="stylesheet" href="~/ApolloStage.styles.css" asp-append-version="true" />
</head>

@if (TempData.ContainsKey("artistName"))
{
    <h1>@TempData["artistName"]</h1>


}
<div class="row me-5 ms-5s pt-2 d-flex justify-content-center">

    <input type="hidden" name="rating" id="selectedRating" value="" />
    <div id="errorMessageContainer"></div>
    @foreach (var album in Model)
    {

        <div class="card pt-2  col-12 col-md-3 ">
            @if (album.images.Count > 0)
            {

                <div class="card-body text-center ">
                    <div class="w-100 d-flex justify-content-center">
                        <div class=" butInImage " style="max-width:200px">
                            <form asp-controller="Account" asp-action="GetAlbum" method="get">
                                <a href="@Url.Action("GetAlbum", "Account", new { albumId = album.id, artistname = TempData["artistName"] })">
                                    <img src="@album.images[0].URL" alt="@album.name" class="img-fluid">
                                </a>
                                <input type="hidden" name="albumId" value="@album.id" />
                                <input type="hidden" name="artistname" value="@TempData["artistName"]" />
                            </form>

                            <input type="hidden" name="albumId" value="@album.id" />
                            <input type="hidden" name="albumName" value="@album.name" />
                            <button type="submit" class="btn btn-dark btnAdicionar shadow-none">
                                <i name="markericon" class="fa fa-lg toGreen                                        @if (album.uri == "true")
                                            {
                                            @:fa-bookmark
                                        }
                                            else
                                            {
                                            @:fa-bookmark-o
                                        }">
                                </i>
                            </button>
                            <div class="butInImage2">
                                @if (@album.classificacaoEspecifica == 10)
                                {
                                    <img src="~/img/topalbum.png" style="max-width: 39px; max-height:39px" />
                                }

                                @if (@album.classificacaoEspecifica >= 1 && @album.classificacaoEspecifica != 10)
                                {
                                    <p>@album.classificacaoEspecifica</p>
                                    <img src="~/img/user-classification(1).png" style="max-width: 39px; max-height:39px" />
                                }
                            </div>
                        </div>
                    </div>

                    <p class="card-text">@album.name</p>

                </div>
                <form id="ratingForm_@album.id">
                    <fieldset>
                        <span class="star-cb-group">
                            @for (int i = 10; i > 0; i--)
                            {
                                <input type="radio" id="rating-@i@album.id" name="starRating" value="@i" @(i == album.classificacaoEspecifica ? "checked" : "") onclick="updateRating('@i')" /><label for="rating-@i@album.id" class="@(i <= album.classificacaoEspecifica ? "filled" : "")">@i</label>
                            }
                        </span>
                        @if (album.classificacaoEspecifica >= 7)
                        {
                            <p style="color:white;">classificação igual ou maior que 7</p>
                        }
                    </fieldset>
                    <input type="hidden" name="albumId" value="@album.id" />
                    <button style="text-align:center;" type="button" onclick="submitRatingForm('@album.id')">Submit</button>
                </form>

                <script>function updateRating(value) {
                        document.getElementById("selectedRating").value = value;
                    }</script>
            }

        </div>

    }


    @if (Model.Count == 0)
    {
        <p>Não existem álbuns desse artista.</p>
    }
</div>
<div class="popups-cont" style="opacity:0.85">
    <div class="popups-cont__overlay"></div>
    <div class="popup">
        <div class="popup__pieces"></div>
        <div class="popup__content">
            <div class="popup__close"></div>
            <b><h3 class="popup__heading"></h3></b>
            <b><p class="popup__text"></p></b>
        </div>
    </div>
</div>


@section Scripts {
    <script>$(document).ready(function () {
            $(".btnAdicionar").on("click", function (e) {
                e.preventDefault();

                var btn = $(this);  // Armazene a referência ao botão clicado para uso posterior

                var albumId = btn.siblings('input[name="albumId"]').val();
                var albumName = btn.siblings('input[name="albumName"]').val();

                $.ajax({
                    url: "/Account/AdicionarAlistenList",
                    type: "POST",
                    data: { albumId: albumId, albumName: albumName },
                    success: function (result) {
                        if (result.success) {
                            $("#errorMessageContainer").html('<div class="alert alert-success" role="alert">' + result.errorMessage + '</div>');
                            var popupTextElement = document.querySelector('.popup__text');

                            // Altere o texto do elemento
                            popupTextElement.innerText = result.errorMessage;
                            $popupsCont.classList.add('s--popup-active');
                            $popup.classList.add('s--active');
                            setTimeout(closeHandler, 3000);

                            // Adicione a classe para alterar o ícone
                            btn.find('i[name="markericon"]').removeClass("fa-bookmark-o").addClass("fa-bookmark");
                        } else {
                            // Remova a classe para alterar o ícone
                            btn.find('i[name="markericon"]').removeClass("fa-bookmark").addClass("fa-bookmark-o");

                            $("#errorMessageContainer").html('<div class="alert alert-danger" role="alert">' + result.errorMessage + '</div>');
                            var popupTextElement = document.querySelector('.popup__text');

                            // Altere o texto do elemento
                            popupTextElement.innerText = result.errorMessage;
                            $popupsCont.classList.add('s--popup-active');
                            $popup.classList.add('s--active');
                            setTimeout(closeHandler, 3000);
                            $.ajax({
                                url: "/Account/RemoverDosFavoritos",
                                type: "POST",
                                data: { albumId: albumId },
                                success: function (result) {
                                    if (result.success) {

                                    } else {

                                    }
                                },
                                error: function () {
                                    console.log("error");
                                }
                            });
                        }
                    },
                    error: function () {
                        console.log("error");
                    }
                });
            });
        });




        var numOfPieces = 6 * 6;

        var frag = document.createDocumentFragment();

        function insertInnerPieces($el, innerPieces) {
            for (var i = 0; i < innerPieces; i++) {
                var $inner = document.createElement('div');
                $inner.classList.add('popup__piece-inner');
                $el.appendChild($inner);
            }
        };

        for (var i = 1; i <= numOfPieces; i++) {
            var $piece = document.createElement('div');
            $piece.classList.add('popup__piece');

            insertInnerPieces($piece, 3);
            frag.appendChild($piece);
        }

        document.querySelector('.popup__pieces').appendChild(frag);

        var $popupsCont = document.querySelector('.popups-cont');
        var $popup = document.querySelector('.popup');
        var popupAT = 900;



        function closeHandler() {
            $popupsCont.classList.remove('s--popup-active');
            $popup.classList.remove('s--active');
            $popup.classList.add('s--closed');

            setTimeout(function () {
                $popup.classList.remove('s--closed');
            }, popupAT);
        }

        document.querySelector('.popup__close').addEventListener('click', closeHandler);

        document.querySelector('.popups-cont__overlay').addEventListener('click', closeHandler);

        document.querySelector('.popup-btn').addEventListener('click', function () {
            $popupsCont.classList.add('s--popup-active');
            $popup.classList.add('s--active');

            setTimeout(closeHandler, 2000); // Chama closeHandler após 5 segundos
        });</script>
}
<style>
    main.pb-3 h1 {
        text-align: center;
    }

    .card {
        border: none;
        background-color: transparent;
    }

    .img-fluid {
        border-radius: 20px;
        border-radius: 0 !important;
    }

    .star-cb-group {
        /* remove inline-block whitespace */
        font-size: 0;
        /* flip the order so we can use the + and ~ combinators */
        unicode-bidi: bidi-override;
        direction: rtl;
        /* the hidden clearer */
    }

        .star-cb-group * {
            font-size: 1rem;
        }

        .star-cb-group > input {
            display: none;
        }

            .star-cb-group > input + label {
                /* only enough room for the star */
                display: inline-block;
                overflow: hidden;
                text-indent: 9999px;
                width: 1em;
                white-space: nowrap;
                cursor: pointer;
            }

                .star-cb-group > input + label:before {
                    display: inline-block;
                    text-indent: -9999px;
                    content: "☆";
                    color: #888;
                }

                .star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
                    content: "★";
                    color: #e52;
                    text-shadow: 0 0 1px #333;
                }

        .star-cb-group > .star-cb-clear + label {
            text-indent: -9999px;
            width: .5em;
            margin-left: -.5em;
        }

            .star-cb-group > .star-cb-clear + label:before {
                width: .5em;
            }

        .star-cb-group:hover > input + label:before {
            content: "☆";
            color: #888;
            text-shadow: none;
        }

        .star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
            content: "★";
            color: #e52;
            text-shadow: 0 0 1px #333;
        }



    fieldset {
        border: 0;
        background: #222;
        width: 5em;
        border-radius: 1px;
        padding: 1em 1.5em 0.9em;
        margin: 1em auto;
        width: 210px;
    }

    #log {
        margin: 1em auto;
        width: 5em;
        text-align: center;
        background: transparent;
    }

    h1 {
        text-align: center;
    }

    button#formse {
        width: 100px;
        height: 30px;
        top: 160px;
        left: 50px;
    }

    .card.pt-2.col-12.col-md-3 form fieldset {
        display: none;
    }

    .card.pt-2.col-12.col-md-3 form button {
        display: none;
    }

    .butInImage2 img {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 0;
    }

    .butInImage2 p {
        position: absolute;
        z-index: 9;
        left: 15px;
        top: 10px;
    }
</style>
<script>$('[id^="rating-"]').click(function () {
        // Encontre o formulário pai do input de rádio clicado
        var form = $(this).closest('form');
        // Envie o formulário
        form.submit();
    });</script>
<script>
    function submitRatingForm(albumId) {
        var formData = {
            albumId: albumId,
            starRating: document.getElementById("selectedRating").value,
        };

        $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveAlbumRating", "Account")',
            data: formData,
            success: function(response) {
                console.log(response); // Exibe a resposta no console
                // Se necessário, você pode fazer algo com a resposta JSON aqui
            },
            error: function(error) {
                console.error('Erro ao enviar os dados do formulário via AJAX:', error);
            }
        });
    }
</script>