@using System.Security.Claims;
@{
    string id = TempData["id"]?.ToString();
    string email = TempData["email"]?.ToString();
    var lastIndex = Model.Count - 1;
    string cancel = TempData["cancel"]?.ToString();

}
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">A sua compra foi Cancelada.</h1>
<h2 class="text-danger">@cancel.</h2>




<form id="buyNowForm" method="post" action="@Url.Action("ProcessPayment", "Market")">
    <input type="hidden" id="orderId" name="orderId" />
    <input type="hidden" id="userEmail" name="userEmail" />
    <input type="hidden" id="amount" name="amount" />
</form>


@foreach (var order in Model)
{
    <div>
        <p>T-shirt Title: @order.TshirtTitle</p>
        <p>T-shirt size: @order.TshirtSize</p>
        <p>T-shirt Color: @order.TshirtColor</p>
        <p>T-shirt qt: @order.TshirtCount</p>
        <p>T-shirt Price: @order.TshirtPrice</p>
    </div>

    @if (Model.IndexOf(order) == lastIndex)
    {
        <button onclick="buyNow('@order.OrderId', '@order.UserMail', '@order.TshirtTitle', @order.TshirtPrice)" class="btn btn-dark btn-lg d-block">Pagar Novamente</button>
    }
}
<button onclick="cancelOrder()" class="btn btn-dark btn-lg d-block">Cancelar a encomenda</button>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>async function buyNow(orderId, userEmail, tshirtTitle, amount) {
        // Definir os valores nos campos de input do formulário
        document.getElementById('orderId').value = orderId;
        document.getElementById('userEmail').value = userEmail;
        document.getElementById('amount').value = amount;

        // Submeter o formulário
        document.getElementById('buyNowForm').submit();
    }</script>
<script>

    function cancelOrder() {
        $.ajax({
            type: "GET",
            url: "/Market/CancelOrder", 
            success: function (response) {
                if (response.success) {
                    console.log("Order canceled successfully");
                    alert("Order canceled successfully");
                    window.location.href = "/home/index"; 
                  
                } else {
                    console.error("Failed to cancel order");
                    alert("Failed to cancel order. Please try again later.");
                }
            },
            error: function (xhr, status, error) {
                // Manipula erros aqui, se necessário
                console.error(error);
                alert("Failed to cancel order. Please try again later.");
            }
        });
    }

</script>