@model IndexModelView;
@{
    ViewData["Title"] = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    @using (Html.BeginForm("SearchArtist", "Home", FormMethod.Post))
    {
        <input type="text" name="id" placeholder="Digite o nome do artista" />
        <input type="submit" value="Pesquisar" />
    }

    @if (Model.Artists.Count > 0)
    {
        <div class="section d-flex flex-column justify-content-center">
            <div>
                <h1>@Model.Artists[0].name</h1>
            </div>
            <div>
                <img src="@Model.Artists[0].images[2].URL" style="width:250px" />
            </div>
        </div>
        <div class="section">
            <h1 class="section-title">Genres</h1>
            @foreach (var genre in Model.Artists[0].genres)
            {
                <span class="badge bg-success">@genre</span>
            }
        </div>

       <div class="section">
            <h1 class="section-title">Álbuns</h1>
            <div class="row">
                @if (Model.Artists[0].Albums != null && Model.Artists[0].Albums.items != null)
                    {
                    @foreach (var album in Model.Artists[0].Albums.items)
                        {
                        <div class="col-4">
                            <div class="card">
                                <img src="@album.images[0].URL" class="card-img-top" alt="Capa do Álbum">
                                <div class="card-body">
                                    <h5 class="card-title">@album.name</h5>
                                    <p class="card-text">Data de Lançamento: @album.release_date</p>
                                    <p class="card-text">Total de Faixas: @album.total_tracks</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>Nenhum álbum encontrado.</p>
                }
            </div>
        </div>


    }
    else
    {
        <p>Nenhum artista encontrado.</p>
    }

  
</div>
@if (Model.Playlists != null)
{
    <div class="container">
        <h1 class=" section-title">Top Playlists Albums</h1>
        <div class="row">
            @foreach (var playlist in Model.Playlists)
            {
                <div class="col-lg-2 col-md-3 col-sm-6 col-12 mb-4">
                    <div class="card">
                        @if (playlist.Images != null && playlist.Images.Any())
                        {
                            <a href="@playlist.Uri">
                                <img src="@playlist.Images.FirstOrDefault()?.URL" class="card-img-top" alt="@playlist.Name">
                            </a>
                        }
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="@playlist.Uri">@playlist.Name</a>
                            </h5>
                            <p class="card-text">@playlist.Description</p>
                        </div>
                        <div class="card-footer">
                            <a href="@playlist.Uri" class="btn btn-primary">Abrir Playlist</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<div class="container">
    <h1 class=" section-title">Categories</h1>
    <div class="row">
        @foreach (var category in Model.Categories)
        {
            <div class="col-3 d-flex">
                <a href="@category.href" class="btn btn-outline-primary category-button" target="_blank">
                    <div style="height: 200px; margin: 0.2rem;">
                        <img src="@category.items.FirstOrDefault()?.href" alt="@category.items.FirstOrDefault()?.name" class="category-icon img-fluid" style="max-width: 100%; max-height: 100%;" />
                    </div>
                    <p class="category-name text-center mt-2">@category.items.FirstOrDefault()?.name</p>
                </a>
            </div>
        }
    </div>
</div>
<h1 class=" section-title">Ajax Search</h1>
<input type="text" id="artistName" />
<div id="artistSuggestions"></div>









@section Scripts {
    <script>
        $(document).ready(function () {
            // Manipular o clique no botão
            $("#updateButton").click(function () {
                $.ajax({
                    url: "@Url.Action("GetCustomString", "Home")",
                    type: "GET",
                    success: function (data) {
                        // Atualizar a div com a string personalizada
                        $("#customStringDiv").text(data);
                    }
                });
            });
        });
    </script>

    <script>
      $(document).ready(function () {
            $('#artistName').on('input', function () {
                var inputText = $(this).val();
                if (inputText.length >= 3) {
                    $.ajax({
                        url: '@Url.Action("SearchArtistAjax", "Home")',
                        data: { id: inputText },
                        method: 'POST',
                        success: function (data) {
                            var suggestions = $('#artistSuggestions');
                            suggestions.empty();
                            $.each(data, function (index, artist) {
                                var artistDiv = $('<div>').addClass('artist-container');
                                var artistImage = $('<img>').attr('src', artist.imageUrl)
                                    .addClass('artist-image')
                                    .css({ 'max-height': '50px', 'width': 'auto' })
                                    .click(function () {
                                        // Define o valor do campo de entrada de texto com o nome do artista quando a imagem é clicada
                                        $('#artistName').val(artist.name);
                                    });
                                var artistName = $('<div>').text(artist.name)
                                    .addClass('artist-name')
                                    .click(function () {
                                        // Define o valor do campo de entrada de texto com o nome do artista quando o nome é clicado
                                        $('#artistName').val(artist.name);
                                    });

                                // Anexe a imagem e o nome
                                artistDiv.append(artistImage, artistName);
                                suggestions.append(artistDiv);
                            });
                        }
                    });
                } else {
                    // Se o campo de entrada estiver vazio, limpe as sugestões
                    var suggestions = $('#artistSuggestions');
                    suggestions.empty();
                }
            });
        });




    </script>
}
