@model List<Album>
@{
    string username = TempData["username"]?.ToString();
}
<h1 class="ms-5"> @username's ListenList</h1>

<div class="row ms-5 justify-content-center ">

    @foreach (var album in @Model)
    {
        <div class="card mb-3 h-100 col-12 col-md-5 mt-1 d-flex align-items-center">
            @if (album.images.Count > 0)
            {
                <div class="ListenListButtonInImage">
                    <form asp-controller="Account" asp-action="GetAlbum" method="get">
                    <a href="@Url.Action("GetAlbum", "Account", new { albumId = album.id, artistname = TempData["artistName"] })">
                            <img src="@album.images[0].URL" alt="@album.name" class="card-img-top ms-2 mt-2 col-4">
                    </a>
                    <input type="hidden" name="albumId" value="@album.id" />
                    <input type="hidden" name="artistname" value="@TempData["artistName"]" />
                </form>
                    <form asp-controller="Account" asp-action="RemoverDosFavoritos" method="post">
                        <input type="hidden" name="albumId" value="@album.id" />
                        <button type="submit" class="btn btn-dark"><i name="markericon" class="fa fa-bookmark fa-2x toGreen"></i></button>
                    </form>
                </div>
                <div class="HOR col-8 mt-3">
                    <p class="card-text ms-4 "><b>@album.name</b></p>
                    <br />
                    <div class=" d-flex align-items-center ms-3">
                        <img src="~/img/star2.png"name="markericon"  ms-4"></img>
                        <span class="ms-2"> @album.classificacaoEspecifica</span>
                    </div>
                    <br />
                    <!-- Mudança: Adicionando uma classe para identificar este elemento específico e o atributo data-date com a data do álbum -->
                    <p class="card-text ms-4 releaseDate" data-date="@album.release_date"></p>
                    <p class="card-text ms-4 ">@album.duration_ms_album </p>
                </div>
            }
        </div>
    }

    <script>
        window.onload = function () {
            // Seu código JavaScript aqui
            var releaseDateElements = document.querySelectorAll(".releaseDate");

            // Iterar sobre todos os elementos com a classe 'releaseDate'
            releaseDateElements.forEach(function (element) {
                // Obter a data do atributo 'data-date'
                var albumRealiseDate = element.getAttribute("data-date");

                // Verificar se a data é válida
                if (albumRealiseDate) {
                    var releaseDate = new Date(albumRealiseDate);
                    var formattedDate = releaseDate.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' });

                    // Atualizar o texto do elemento atual com a data formatada
                    element.textContent = formattedDate;
                }
            });
        };</script>

    </script>

    @if (Model.Count == 0)
    {
        <p>Não existem álbuns adicionados à sua ListenList.</p>
    }
</div>